body {
	background: rgba(245,245,245,0.8);
	padding: 40px;
	padding-left: 60px;
	padding-right: 60px;
}

#all {
	display: grid;
	grid-template: 50% 50% / 40% 60%;
	font-family: 'PT Sans Narrow', sans-serif;

}

#header {
	color: dodgerblue;
	font-family: 'PT Sans Narrow', sans-serif;

}

#calendar {
	grid-column-start: 2;
	grid-row-start: 1 / span 2;
	display: grid;
	grid-template: 100px 100px 100px 100px 100px 100px / 120px 120px 120px 120px 120px 120px 120px;
	font-family: 'PT Sans Narrow', sans-serif;


}

#c1 {
grid-row-start: 1;
	grid-column-start: 1;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}

#c2 {
grid-row-start: 1;
	grid-column-start: 2;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}
#c3 {
grid-row-start: 1;
	grid-column-start: 3;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}
#c4 {
grid-row-start: 1;
	grid-column-start: 4;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}
#c5 {
grid-row-start: 1;
	grid-column-start: 5;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}
#c6 {
grid-row-start: 1;
	grid-column-start: 6;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;
}
#c7 {
grid-row-start: 1;
	grid-column-start: 7;
	background: dodgerblue;
	padding-top: 20px;
	text-align: center;

}

#c8 {
	grid-row-start: 2;
	grid-column-start: 1;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c9 {
	grid-row-start: 2;
	grid-column-start: 2;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c10 {
	grid-row-start: 2;
	grid-column-start: 3;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c11 {
	grid-row-start: 2;
	grid-column-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c12 {
	grid-row-start: 2;
	grid-column-start: 5;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c13 {
	grid-row-start: 2;
	grid-column-start: 6;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c14 {
	grid-row-start: 2;
	grid-column-start: 7;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c15 {
	grid-row-start: 3;
	grid-column-start: 1;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c16 {
	grid-row-start: 3;
	grid-column-start: 2;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c17 {
	grid-row-start: 3;
	grid-column-start: 3;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c18 {
	grid-row-start: 3;
	grid-column-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c19 {
	grid-row-start: 3;
	grid-column-start: 5;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c20 {
	grid-row-start: 3;
	grid-column-start: 6;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c21 {
	grid-row-start: 3;
	grid-column-start: 7;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c22 {
	grid-row-start: 4;
	grid-column-start: 1;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c23 {
	grid-row-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
	grid-column-start: 2;
}
#c24 {
	grid-row-start: 4;
	grid-column-start: 3;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c25 {
	grid-row-start: 4;
	grid-column-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c26 {
	grid-row-start: 4;
	grid-column-start: 5;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c27 {
	grid-row-start: 4;
	grid-column-start: 6;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c28 {
	grid-row-start: 4;
	grid-column-start: 7;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c29 {
	grid-row-start: 5;
	grid-column-start: 1;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c30 {
	grid-row-start: 5;
	grid-column-start: 2;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c31 {
	grid-row-start: 5;
	grid-column-start: 3;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c32 {
	grid-row-start: 5;
	grid-column-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c33 {
	grid-row-start: 5;
	grid-column-start: 5;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c34 {
	grid-row-start: 5;
	grid-column-start: 6;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c35 {
	grid-row-start: 5;
	grid-column-start: 7;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c36 {
	grid-row-start: 6;
	grid-column-start: 1;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#c37 {
	grid-row-start: 6;
	grid-column-start: 2;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c38 {
	grid-row-start: 6;
	grid-column-start: 3;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c39 {
	grid-row-start: 6;
	grid-column-start: 4;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c40 {
	grid-row-start: 6;
	grid-column-start: 5;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}
#c41 {
	grid-row-start: 6;
	grid-column-start: 6;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;

}
#c42 {
	grid-row-start: 6;
	grid-column-start: 7;
		border-width: 4px;
	border-color: rgba(30, 30, 30, 0.7);
	border-style: double;
}

#enter {
	width: 100px;
	height: 40px;
		background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
}


#itemList {
	grid-row-start: 2;
	grid-column-start: 1;
	margin-top: -150px;
	display: grid;
	grid-template: 50px 50px 50px 50px 50px 50px 50px / 60px 150px 60px 60px 20px 20px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 12px;
	
}

#op11 {
	grid-column-start: 1;
	grid-row-start: 1;
	background-color: dodgerblue;
}
#op12 {
	grid-column-start: 2;
	grid-row-start: 1;
	background-color: dodgerblue;
}
#op13 {
	grid-column-start: 3;
	grid-row-start: 1;
	background-color: dodgerblue;
}
#op21 {
	grid-column-start: 1;
	grid-row-start: 2;
}
#op22 {
	grid-column-start: 2;
	grid-row-start: 2;
}
#op23 {
	grid-column-start: 3;
	grid-row-start: 2;
}
#clear1 {
	grid-column-start: 4;
	grid-row-start: 2;
}
#op31 {
	grid-column-start: 1;
	grid-row-start: 3;
}

#op32 {
	grid-column-start: 2;
	grid-row-start: 3;
}
#op33 {
	grid-column-start: 3;
	grid-row-start: 3;
}
#clear2 {
	grid-column-start: 4;
	grid-row-start: 3;
}
#op41 {
	grid-column-start: 1;
	grid-row-start: 4;
}
#op42 {
	grid-column-start: 2;
	grid-row-start: 4;
}
#op43 {
	grid-column-start: 3;
	grid-row-start: 4;
}
#clear3 {
	grid-column-start: 4;
	grid-row-start: 4;
}
#op51 {
	grid-column-start: 1;
	grid-row-start: 5;
}
#op52 {
	grid-column-start: 2;
	grid-row-start: 5;
}
#op53 {
	grid-column-start: 3;
	grid-row-start: 5;
}
#clear4 {
	grid-column-start: 4;
	grid-row-start: 5;
}
#op61 {
	grid-column-start: 1;
	grid-row-start: 6;
}
#op62 {
	grid-column-start: 2;
	grid-row-start: 6;
}
#op63 {
	grid-column-start: 3;
	grid-row-start: 6;
}
#clear5 {
	grid-column-start: 4;
	grid-row-start: 6;
}
#op71 {
	grid-column-start: 1;
	grid-row-start: 7;
}
#op72 {
	grid-column-start: 2;
	grid-row-start: 7;
}
#op73 {
	grid-column-start: 3;
	grid-row-start: 7;
}
#clear6 {
	grid-column-start: 4;
	grid-row-start: 7;
}
#up1 {
	grid-column-start: 5;
	grid-row-start: 2;
	background: dodgerblue;
	 border: none;
}
#up2 {
	grid-column-start: 5;
	grid-row-start: 3;
	background: dodgerblue;
	 border: none;
}
#up3 {
	grid-column-start: 5;
	grid-row-start: 4;
	background: dodgerblue;
	 border: none;
}
#up4 {
	grid-column-start: 5;
	grid-row-start: 5;
	background: dodgerblue;
	 border: none;
}
#up5 {
	grid-column-start: 5;
	grid-row-start: 6;
	background: dodgerblue;
	 border: none;
}
#up6 {
	grid-column-start: 5;
	grid-row-start: 7;
	background: dodgerblue;
	 border: none;
}
#down1 {
	grid-column-start: 6;
	grid-row-start: 2;
	background: dodgerblue;
	 border: none;
}
#down2 {
	grid-column-start: 6;
	grid-row-start: 3;
	background: dodgerblue;
	 border: none;
}
#down3 {
	grid-column-start: 6;
	grid-row-start: 4;
	background: dodgerblue;
	 border: none;
}
#down4 {
	grid-column-start: 6;
	grid-row-start: 5;
	background: dodgerblue;
	 border: none;
}
#down5 {
	grid-column-start: 6;
	grid-row-start: 6;
	background: dodgerblue;
	 border: none;
}
#down6 {
	grid-column-start: 6;
	grid-row-start: 7;
	background: dodgerblue;
	 border: none;
}



#input1 {
	grid-column-start: 1;
	grid-row-start: 1;
	display: grid;
	grid-template: 50px 50px 50px 30px / 150px 250px;
}

#date {
	grid-column-start: 1;
	grid-row-start: 2;
	padding: 5px;
		margin: 5px;
	margin-left: -5px;
}
#priority {
	grid-column-start: 1;
	grid-row-start: 3;
	margin: 5px;
	margin-left: -5px;
}
#ti {
	grid-row-start: 1;
	grid-column-start: 2;
	padding-left: 10px;
}
#td {
	grid-column-start: 2;
	grid-row-start: 2;
	padding-left: 10px;
}
#item {
	grid-row-start: 1;
	grid-column-start: 1;
	padding: 5px;
		margin: 5px;
	margin-left: -5px;
}

#tp {
	grid-column-start: 2;
	grid-row-start: 3;
	padding-left: 10px;
}
#enter {
	grid-column-start: 1 / span 2;
	grid-row-start: 4;
}

#clear1 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear1:hover {
  background-color: RoyalBlue;
}
#clear2 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear2:hover {
  background-color: RoyalBlue;
}
#clear3 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear3:hover {
  background-color: RoyalBlue;
}
#clear4 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear4:hover {
  background-color: RoyalBlue;
}
#clear5 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear5:hover {
  background-color: RoyalBlue;
}

#clear6 {
	background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
  .clear6:hover {
  background-color: RoyalBlue;
}

  .down1:hover {
  background-color: RoyalBlue;
}
  .down2:hover {
  background-color: RoyalBlue;
}
  .down3:hover {
  background-color: RoyalBlue;
}
  .down4:hover {
  background-color: RoyalBlue;
}
  .down5:hover {
  background-color: RoyalBlue;
}
  .down6:hover {
  background-color: RoyalBlue;
}

  .up1:hover {
  background-color: RoyalBlue;
}
  .up2:hover {
  background-color: RoyalBlue;
}
  .up3:hover {
  background-color: RoyalBlue;
}
  .up4:hover {
  background-color: RoyalBlue;
}
  .up5:hover {
  background-color: RoyalBlue;
}
  .up6:hover {
  background-color: RoyalBlue;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}