body {
	background: rgba(200, 200, 200, 1.0);
}
h1 {
	text-align: center;
	margin-top: 90px;
	margin-bottom: -20px;
}
#aboutme {
	display: grid;
	grid-template-columns: 60%, 40%;
	grid-template-rows: 60%, 40%;
	margin: 60px;
	padding: 90px;
}

#title2 {
	grid-row-start: 1;
	grid-column-start: 1;
	margin-top: 60px;
	margin-bottom: -50px;
}

#decrip1 {
	grid-row-start: 2;
	grid-column-start: 1;
	margin: -50px;
}

#img1 {
	grid-row: 1 / span 2;
	grid-column-start: 2;
	padding: 20px;
}

#hobbiesall {
	display: grid;
	grid-template-columns: 50%, 50%;
	grid-template-rows: 50%, 50%;
}

#hobbie1 {
	border-color: rgba(50, 115, 240, 0.8);
	grid-column-start: 1;
	grid-row-start: 1;
	display: grid;
	grid-template-columns: 30%, 70%;
}
#h1t {
	grid-column-start: 1;
}
#h1d {
	grid-column-start: 1;
}
#h1i {
	grid-column-start: 2;
}



#hobbie2 {
	grid-column-start: 2;
	grid-row-start: 1;
}

#hobbie3 {
	grid-column-start: 1;
	grid-row-start: 2;
}

#hobbie4 {
	grid-column-start: 2;
	grid-row-start: 2;
}